<section id="about">
    <div class="container">
        <div>
           <img src="@img/about.jpg" alt="Световор и знаки">
            <div class="text">
                <h2>О центре</h2>
                <p>«Буква закона» - это сообщество профессиональных юристов, все действия которых направлены на восстановление законности в нашем обществе.
                <p>
                    Зачастую человек, попавший в беду, не знает может ли он рассчитывать на денежную компенсацию, куда нужно обращаться и что делать в случае отказа.
                </p>
                <p>
                    К сожалению, юристы нашего Центра ежедневно сталкиваются со случаями недобросовестного отношения к гражданам.</p>
                </p>
                <a href="#">Подробнее о центре</a>
            </div> 
        </div>

        <div>
            <ul class="left-list">
                <li><img src="@img/icon1.png">Без предоплаты и рисков</li>
                <li><img src="@img/icon2.png">Работаем по всей России</li>
                <li><img src="@img/icon3.png">Персональный юрист</li>
                <li><img src="@img/icon4.png">Более 10 лет успешной работы</li>
                <li><img src="@img/icon5.png">94% выигранных дел</li>
            </ul>
            <ul class="right-list">
                <li>Работа по договору</li>
                <li>При необходимости можем выехать в любой регион РФ</li>
                <li>Работаем без предоплаты (Никаких предоплат, авансов)</li>
                <li>Только опытные юристы</li>
                <li>Оплата только при положительном исходе</li>
                <li>Если у Вас нет документов, подтверждающих факт получения травмы, наши юристы могут запросить их в соответствующих организациях. Факт получения травмы может быть установлен через суд.</li>
            </ul>
        </div>
        

    </div>
</section>