<section id="consultation">
    <div class="container">
        <div class="text">
            <h2>Позвоните нам и получите 
                бесплатную консультацию</h2>
            <p>Наши юристы проконсультируют Вас по всем случаям, связанными с гибелью и травмами, полученными в ДТП.</p>
            <p>В случае отсутствия или утере подтверждающих вред здоровью/жизни документов, мы самостоятельно восстанавливаем всё необходимое для получения компенсации.</p>
        </div>
        <div class="call-back">
            <div>
                <h3>Оставьте заявку 
                на бесплатную 
                консультацию</h3>
                <div class="form">
                    <form>
                        <label for="phone">Ваш телефон</label>
                        <input type="tel" name="phone" class="textbox">
                        <input type="submit" value="Оставить заявку" class="submit">
                        <a href="#">Политика конфиденциальности</a>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</section>