<footer id="footer">
    <div class="container">
        <div class="top-footer">
            <div>
                <h2>Контактная информация</h2>
                <p>“Буква закона” имеет несколько филиалов по всей России. При необходимости можем выехать в любой регион РФ</p>
            </div>
            <div>
                <span>Телефон:</span>
                <span>+7 (930) 348 99 95 </span>
                <span>(Telegram, Whatsapp)</span>
            </div>
            <div>
                <span>Электронная почта:</span>
                <span>zakon-bukva@yandex.ru  </span>
            </div>
        </div>
        <div class="bot-footer">
            <div class="logo">
                <img src="@img/logo.png" alt="Логотип компании 'Буква закона'">
                <span id="logo-text">Буква закона</span>
            </div>
            <menu>
                <div class="footer-menu">
                    <li><a href="#header">Главная</a></li>
                    <li><a href="#main-information">Услуги</a></li>
                    <li><a href="#about">О центре</a></li>
                    <li><a href="#footer">Контакты</a></li>
                </div>
            </menu>
        </div>
        <div>
            <p>© 2020-2022 г. ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ АССОЦИАЦИЯ АВТОЭКСПЕРТОВ "БУКВА ЗАКОНА"</p>
            <a href="#">Политика Конфиденциальности</a>
        </div>
    </div>
    <div class="atoll">
        <a href=""></a>
        <img src="@img/atoll.png" alt="Атолл">
        <span> - создание сайтов в Новосибирске</span>
    </div>
</footer>

<script src="js/app.min.js"></script>