<head>
    <meta charset="utf-8" />
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./css/style.min.css">
</head>