<header id="header">
    <nav>
        <ul>
            <li><a href="#header">Главная</a></li>
            <li><a href="#main-information">Услуги</a></li>
            <li><a href="#about">О центре</a></li>
            <li><a href="#footer">Контакты</a></li>
        </ul>
    </nav>
    <div class="logo-bar">
        <div class="container">
            <div class="logo">
                <img src="@img/logo.png" alt="Логотип компании 'Буква закона'">
                <span id="logo-text">Буква закона</span>
            </div>
            <div class="contacts">
                <div class="mail">
                    <a href="mailto:zakon-bukva@yandex.ru">zakon-bukva@yandex.ru</a>
                </div>
                <div class="socials">
                    <a><img src="@img/whatsapp.png"></a>
                    <a><img src="@img/telegram.png"></a>
                    <span>+7 (930) 348-99-95</span>
                </div>  
            </div>
            <div class="header-burger">
                <span></span>
            </div>
        </div>
        
    </div>
    <menu>
        <div class="container">
            <li><a href="#header">Главная</a></li>
            <li><a href="#main-information">Услуги</a></li>
            <li><a href="#about">О центре</a></li>
            <li><a href="#footer">Контакты</a></li>
        </div>
    </menu>
    
</header>