<section id="main-information">
    <img src="@img/info-img.png">
    <div class="container">
        
        <h2>Вы или ваши близкие пострадали в 
            Дорожно-транспортном 
            происшествии?</h2>
        <p>
            Сегодня автомобиль является неотъемлемой частью современного мира, обеспечивая быструю и комфортную перевозку людей. При этом любое транспортное средство является источником повышенной опасности. Мало кто знает о том, что в случае получения травм при ДТП, согласно законам РФ, на получение компенсационной/страховой выплаты могут претендовать следующие категории граждан:
        </p>
        <ul>
            <li>Все пассажиры (даже в том транспортном средстве, водитель которого признан виновным в ДТП);</li>
            <li>Невиновные водители;</li>
            <li>Пешеходы, велосипедисты (при этом не важно - виновен или не виновен в ДТП пострадавший).</li>
        </ul>
        <p>
            Для получения компенсационной/страховой выплаты не имеет значения, было ли застраховано транспортное средство или нет.
        </p>
        <p>
            Все те же правила распространяются в случае, если человек погиб в ДТП. Только здесь компенсационную/страховую выплату может получить определенная категория ближайших родственников погибшего. 
        </p>
        <p>
            При получении травмы в дорожно-транспортном происшествии Вам, безусловно, в первую очередь необходима медицинская помощь. Но необходимо также получить и квалифицированную юридическую консультацию, чтобы впоследствии грамотные действия юриста обеспечили защиту Ваших интересов и получение положенной Вам компенсации.
        </p>
        <p>
            Страховые организации всеми способами уклоняются от возмещения вреда жизни и здоровью:
        </p>
        <ul>
            <li>Игнорируют обращения потерпевших;</li>
            <li>Требуют предоставить различные документы и сведения, не предусмотренные законодательством;</li>
            <li>Отрицают возможность получения компенсационных/страховых выплат по придуманным ими основаниям.</li>
        </ul>
        <p>
            Помимо этого, у неподготовленного выгодоприобретателя возникает много сложностей на различных этапах получения компенсационных/страховых выплат:
        </p>
        <ul>
            <li>Сбор необходимых документов, по соответствующей форме в органах МВД, судах, медицинских учреждениях; </li>
            <li>Обращение в страховую компанию, либо в РСА (Российский союз автостраховщиков);</li>
            <li>Работа с Финансовым уполномоченным (в случае отказа страховой компании в выплате, что бывает очень часто);</li>
            <li>Судебные процессы, которые часто растягиваются на 3-7 месяцев (для участия в этих судебных процессах необходимы высокие компетенции юристов, их четкая специализация на делах, связанных с возмещением вреда жизни и здоровью).</li>
        </ul>
        <span><b>Примечание</b></span>
        <p>
            Наши юристы работают с ДТП, произошедшими после 2002 года.
            Если у Вас нет документов, подтверждающих факт получения травмы/гибели при ДТП, наши юристы могут запросить их в соответствующих организациях.</p>
    </div>
</section>