<section id="our_job">
    <div class="container">
        <h2>В чем состоит наша работа?</h2>
        <ol>
            <li>Юристы Центра анализируют каждый отдельный случай и рассказывают все возможные варианты получения максимальной выплаты</li>
            <li>Мы самостоятельно собираем весь пакет документов, необходимый для дальнейшей работы.
                (Обратите внимание! В случае, если документы утеряны или отсутствуют, мы восстанавливаем их без участия клиента)</li>
            <li>Центр оплачивает все расходы (экспертизы, судебные издержки, дополнительные услуги и т.д.)</li>
            <li>Мы гарантируем полное сопровождение всех дел в органах ГИБДД, полиции, судах и прочих организациях до получения компенсации</li>
            <li>Обеспечиваем фактическое получение денежных средств в полном объеме в досудебном порядке либо через суд</li>
            <li>Мы работаем со всеми категориями граждан вне зависимости от гражданства, национальности, социального статуса, материального положения</li>
            <li>Работа Центра оплачивается исключительно после получения Клиентом денежных средств</li>
            <li>Взаимоотношения Клиента и Центра осуществляются только согласно Договору, который подписывается в 2-х экземплярах. Один хранится в Центре, другой остаётся у Клиента</li>
        </ol>
        <span><b>Примечание:</b></span>
        <p>
Наши юристы работают с ДТП, произошедшими после 2002 года.
Если у Вас нет документов, подтверждающих факт получения травмы/гибели при ДТП, наши юристы могут запросить их в соответствующих организациях.
        </p>

    </div>

    <img src="@img/figure.jpg" alt="Статуетка">
</section>