<section id="problems">
    <div class="container">
        <h2>Проблемы при самостоятельной попытке 
            получить выплату компенсации</h2>
        <div>
            
            <ul class="problems-list">
                <li>Нет возможности 
                    собрать необходимый 
                    пакет документов</li>
                <li>Отказ страховой после сбора пакета документов</li>
                <li>Взаимодействие 
                    с финансовым уполномоченным</li>
                <li>Отказ страховой после сбора пакета документов</li>
                <li>Значительные траты на адвокатов в суде без гарантий</li>
                <li>Риск попасться на некомпетентного адвоката</li>
            </ul>
            <img src="@img/pages.jpg" alt="">
            
        </div>
    </div>
</section>