<section id="questions">
    <div class="container">
        <div>
            <h3>Какие выплаты Вам 
                положены?</h3>
            <ul>
                <li>Страховая выплата по ОСАГО, либо 
                    компенсационная выплата от РСА
                    </li>
                <li>Компенсация затрат на лечение</li>
                <li>Моральный ущерб</li>
                <li>Материальный ущерб, связаный с потерей дохода</li>
            </ul>
        </div>

        <div>
            <h3>Кто имеет право на получение
                компенсации?</h3>
            <ul>
                <li>Пострадавшие пешеходы и велосипедисты</li>
                <li>Пассажиры</li>
                <li>Невиновные водители</li>
                <li>Родственники погибших</li>
            </ul>
        </div>

        <div>
            <h3>За какой вред полагается 
                компенсация?</h3>
            <ul>
                <li>Легкие травмы</li>
                <li>Травмы средней тяжести</li>
                <li>Тяжелый вред здоровью, инвалидность</li>
                <li>Утрата (Потеря) близкого человека</li>
            </ul>
        </div>
    </div>
</section>