@import "fonts";
$blue: #0073C6;
$border_color: #F0F4F8;

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="tel"] {
    font-size: 18px;
}

ul {
    padding: 0;
}

h1,h2,h3,h4,h5,h6,h7 {
    margin: 0;
    font-family: centurygothic;
}

html {
    color: #000;
    font-size: 18px;
    font-family: Inter;
    a {
        text-decoration: none;
        color: #000;
    }
    box-sizing: border-box;
}

body {
    margin: 0;
}

header nav.active {
    left: 0;
}

header nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: #0073C6;
    margin: 0;
    z-index: 99;
    padding: 20px 0 0 40px;
    transition: all 0.3s ease 0s;
    ul {
        padding: 0;
        list-style-type: none;
        font-size: 50px;
        li {
            margin-bottom: 20px;
        }
        a {
            color: #fff;
        }
    }
}

.logo-bar {
    border-bottom: 2px solid $border_color;
    .header-burger::before, .header-burger::after {
        content: "";
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before {
        top: 0;
    }
    .header-burger::after {
        bottom: 0;
    }
    .header-burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active span {
        transform: scale(0);
    }
    .header-burger {
        display: none;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 100;
        
        span {
            position: absolute;
            background-color: black;
            width: 100%;
            height: 2px;
            top: 9px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contacts {
        display: flex;
        .socials {
            a, img {
                width: 16px;
                height: 16px;
            }
            a {
                margin: 0 6px;
            }
            span {
                font-family: centurygothic_bold;
                font-weight: 600;
            }
            display: flex;
            align-items: center;
            padding: 0 25px;
        }
    }
    .mail {
        font-weight: 300;
        padding: 12px 25px;
        border-right: 4px solid $border_color;
        border-left: 4px solid $border_color;
        text-align: center;
        align-items: center;
        display: flex;
        height: 42px;
    }
    .logo {
        padding: 12px 0;
        display: flex;
        align-items: center;
       #logo-text {
        margin-left: 15px;
        font-family: CormorantInfant;
        font-weight: 700;
        font-size: 35px;
    } 
    }
    
}

menu {
    li {
        list-style: none;
        display: inline-block;
        margin: 0 30px;
        font-weight: 500;
    }
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

main {
    h2 {
        font-size: 36px;
        font-weight: 700;   
        line-height: 120%;    
    }
    .top-content {
        position: relative;
        p {
            font-weight: 300;
        }
        #cars {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            height: auto;
            z-index: -1;
        }
        .container {
            img {
                max-width: 100%;
                height: auto;
            }
            #mens {
                position: absolute;
                top: 0;
                right: 100px;
            }
            #blue-rect {
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0.8;
            }
            > p:first-child {
                font-style: italic;
                max-width: 520px;
            }
            h1 {
                font-family: centurygothic_bold;
                font-weight: 700;
                font-size: 40px;
                color: $blue;
                max-width: 720px;
                margin-top: 10px;
            }
            > p:nth-child(3) {
                max-width: 550px;
                margin-top: 20px;
            }
            .quote {
                max-width: 650px;
                background-color: #fff;
                padding: 25px 30px;
                margin-top: 30px;
                p {
                    span {
                        font-style: normal;
                    }
                    font-size: 24px;
                    font-weight: 500;
                }

                > div:nth-child(2) {
                    margin-top: 15px;
                    font-size: 14px;
                    span {
                        margin-right: 15px;
                    }
                }
                
                
            }
            .bid {
                background-color: #fff;
                padding: 30px;
                max-width: 650px;
                margin-top: 30px;
                h3 {
                    width: 100%;
                    font-size: 24px;
                    font-family: centurygothic_bold;
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                form {
                    margin-top: 25px;
                    label {
                        display: block;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .textbox {
                        height: 58px;
                        padding: 0;
                        border: 1px solid $blue;
                        width: 50%;
                        margin-right: 18px;
                        box-sizing: border-box;
                        padding: 0;
                    }
                    > div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 10px;
                    }
                }
            }
            padding-top: 30px;
        }
    }
    .submit {
        font-family: centurygothic_bold;
        font-weight: 700;
        width: 50%;
        height: 60px;
        border: none;
        background-color: $blue;
        color: white;
        cursor: pointer;
    }
    .submit:hover {
        opacity: 0.75;
    }

    #main-information {        
        margin-top: 130px;
        margin-bottom: 100px;
        font-size: 18px;
        line-height: 150%;
        img {
            margin-left: 80px;
            margin-right: 40px;
            float: left;
        }
        h2{
            margin-bottom: 40px;
        }
        ul {
            padding: 0 0 0 15px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
        .container {
            display: inline-block;
            max-width: 700px;
        }

    }

    #questions {
        padding-top: 60px;
        border-top: 1px solid #F0F4F8;
        ul {
            padding: 0;
        }
        li::marker {
            color: #3086CA;
            
        }
        li {
            margin-left: 15px;
            margin-bottom: 25px;
            
        }
        .container {
            > div {
                max-width: 340px;
            }
            padding-bottom: 60px;
            border-bottom: 1px solid #F0F4F8;
            display: flex;
            align-items: top;
            justify-content: space-between;
        }
    }
    #our_job{
        margin-top: 60px;
        position: relative;
        padding-bottom: 120px;
        img {
            position: absolute;
            right: 100px;
            top: 0;
            z-index: -1;
        }
        ol {
            max-width: 600px;
            margin-bottom: 46px;
            padding: 0;
            li {
                margin-bottom: 22px;
                list-style-type: none;
                position: relative;
                display: flex;
                align-items: center;

            }
        
            
        }
        li::before {
            display: inline-block;
            counter-increment: marker;
            content: counter(marker);
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 40px;
            height: 40px;
            color: #0073C6;
            border: 1px solid #0073C6;
            border-radius: 50%;
            margin-right: 30px;
        }
        span {
            margin-top: 46px;
        }
        p {
            max-width: 700px;
            margin-top: 30px;
        }
        counter-reset: marker;

    }

    #consultation {
        background-image: url("@img/men_with_phone.jpg");
        background-repeat: no-repeat;
        .container {
            position: relative;
            display: flex;
            align-items:flex-start;
            justify-content: space-between;
            padding: 60px 30px;
            .text {
                h2 {
                    margin-bottom: 50px;
                }
                p {
                    margin-bottom: 20px;
                }
                max-width: 520px;
                color: #fff;
            }

            .call-back {
                background-image: url("@img/background_form.png");
                background-repeat: no-repeat;
                background-size: 98% 100%;
                padding: 20px;
               
                >div {
                    padding: 40px;
                    background-color: #ffffff;
                }

                
                h3 {
                    max-width: 200px;
                    margin-bottom: 25px;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    label {
                        font-size: 14px;
                    }
                }
                a {
                    color: #969696;
                    font-size: 14px;
                    text-decoration: underline;
                    align-self: center;
                }
                .textbox,
                .submit {
                    width: 340px;
                    height: 57px;
                    margin: 9px 0 25px 0;
                    box-sizing: border-box;
                }
                .submit {
                    margin-top: 0;
                    cursor: pointer;
                }
            }
        }
    }

    #about {
        margin-top: 100px;
        .container {
            padding-bottom: 60px;
            border-bottom: 1px solid #F0F4F8;
            img {
                margin-right: 125px;
            }
            >div:first-child {
                margin-bottom: 120px;
            }
            >div {
                display: flex;
                justify-content: space-between;
            }
            .left-list {
                img {
                    margin-right: 25px;
                }
                font-weight: 600;
                list-style-type: none;
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                }
            }
            .right-list {
                width: 620px;
                li {
                    margin-bottom: 25px;
                }
                li::marker {
                    color: #3086CA;
                }
            }
            .text {
                max-width: 560px;
                h2 {
                    margin-bottom: 30px;
                }
                p {
                    margin-bottom: 20px;
                    font-size: 18px;
                }
                a {
                    display: block;
                    padding: 16px 18px;
                    background-color: #0073C6;
                    width: 250px;
                    
                    color: #fff;
                    text-align: center;
                }
                a:hover {
                    opacity: 0.75;
                }
            }
        }
    }

    #problems {
        margin-top: 60px;
        margin-bottom: 100px;
        img {
            width: 450px;
            height: 100%;
        }
        .container {
            h2 {
                margin-bottom: 60px;
                max-width: 800px;
            }
            >div {
                display: flex;
                justify-content: space-between;
                ul {
                    width: 730px;
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        display: flex;
                        width: 300px;
                        padding: 40px 40px 40px 0;
                        border-bottom: 3px solid #F0F4F8;
                    }
                    li:nth-child(odd) {
                        border-right: 3px solid #F5FCFF;
                    }
                    li:nth-child(even) {
                        padding-left: 40px;
                    }

                    li::before {
                        margin-right: 30px;
                        content: "X";
                        color: #F3677A;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 65px;
                        height: 65px;
                        background-color: #F5FCFF;
                        border-radius: 50%;
                    }
                }
            }

            
        }
    }
}

footer {
    background-color: #222D42;
    color: #fff;
    .container {
        .top-footer {
            padding-top: 120px;
            padding-bottom: 40px;
            border-bottom: 3px solid #353F54;
            display: flex;
            justify-content: space-between;
            >div:first-child {
                h2 {
                    margin-bottom: 20px;
                }
                max-width: 510px;
            }
            >div:nth-child(n+1) {
                span {
                    font-size: 24px;
                    font-weight: 700;
                }
                span:first-child {
                    font-size: 18px;
                    font-weight: 500;
                }
                display: flex;
                flex-direction: column;
            }
        }

        .bot-footer {
            margin-top: 44px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                font-family: CormorantInfant;
                display: flex;
                align-items: center;
                img {
                    margin-right: 15px;
                }
            }
            .footer-menu {
                li {
                    margin: 0 0 0 55px;
                }
            }
            a {
                color: #fff;
            }
            
        }

        >div:nth-child(3) {
            margin-top: 40px;
            padding-bottom: 120px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            p {
                width: 500px;
            }
            a {
                color: #969696;
                text-decoration: underline;
            }
        }
    }
    .atoll {
        background-color: #0082FF;
        height: 65px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1400px) {
    #main-information {
        img {
            position: absolute;
            z-index: -1;
            max-width: 100%;
            margin: 0;
        }
    }  
    main {
        .top-content {
            #mens {
                display: none;
            }
            #blue-rect {
                display: none;
            }
        }

        #our_job {
            img {
                display: none;
            }
        }
    }
    
}

@media (max-width: 1200px) {
    #problems {
        .container {
            img {
                display: none;
            }
        }
    }
    
}

@media (max-width: 991px) {
    main #consultation .container .call-back .textbox, main #consultation .container .call-back .submit {
        width: 100%;
        max-width: 340px;
    }
    .logo-bar .header-burger {
        display: inline-block;
    }
    #header {
        menu {
            display: none;
        }
        .contacts {
            display: none;
        }
    }

    main {
        #consultation {
            background-image: url("@img/phone_mobile.png");
            background-size: 100% auto;
            
        }
      
    }
    

    #questions {
        .container {
            flex-direction: column;
        }
    }

    #consultation {
        .container {
            flex-wrap: wrap;
            h2 {
                font-size: 24px;
            }
        }
    }

    #about {
        .container {
            >div:first-child {
                img {
                    display: none;
                }
            }
            >div:nth-child(2) {
                flex-wrap: wrap;
            }
        }
    }

    #footer {
        .container {
            .top-footer {
                flex-direction: column;
                >div {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #problems{
        .container {
            >div ul {
                li {
                    border: none !important;
                    padding: 0 !important;
                    margin-bottom: 25px;
                }
            }
        }
    }

    #footer {
        .container {
            .bot-footer {
                .logo {
                    font-size: 35px;
                }
                menu {
                    display: none;
                }
            }
            >div:nth-child(3) {
                p {
                    margin-bottom: 20px;
                }
                padding-bottom: 60px;
                flex-wrap: wrap;
            }
        }
    }
    
}

@media (max-width: 576px) {
    .top-content {
        .container {
            .bid {
                form {
                >div {
                    flex-wrap: wrap;
                    .textbox {
                        width: 100%;
                        margin: 0 0 10px 0;
                    }
                    >input {
                        width: 100%;
                    }
                }
            }
            }
                
        }
        
    }

    #consultation {
        .container {
            .text {
                h2 {
                    font-size: 24px;
                }
                p {
                    font-size: 12px;
                }
            }
            .call-back {
                width: 100%;
                padding: 0 !important;
                background-image: none !important;
            }
        }
    }

    footer {
        .atoll {
            font-size: 12px;
        }
    }
    
}